@model KurumsalWeb.Models.Model.Hizmet



<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="well">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="@Model.ResimURL" alt="@Model.Aciklama">
                        </div>
                        <div class="col-md-6">
                            <strong>@Model.Baslik</strong>
                            <p>@Html.Raw(Model.Aciklama)</p>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="list-group">
                    @foreach (var item in ViewBag.Hizmetler)
                    {
                        <a href="@Url.Action("HizmetDetay", "Home",new{id = item.HizmetId })"  class="list-group-item list-group-item-action">@item.Baslik</a>
                    }


                </div>
            </div>
        </div>
    </div>

</section>
